fieldset {
    border: 1px solid #ccc;
    position: relative;
    legend {
        position: absolute;
        background-color: rgb(83, 74, 74);
        font-size: 16px;
        left: 10px;
        width: auto;
        top: -12px;
        padding: 0 10px;
    }
   .list-group { padding-left: 15px; padding-right: 15px; }
}

.btn-success {
    color: #fff;
    background-color: #6290b9;
    border-color: #52575c
}


.icon {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 20px;
    top: -2px;
}